@{
    ViewBag.Title = "Home Page";
}

<h2>Video rental store system for employees</h2>
<br />
<ul>
    <li>Store manager authorised to add or edit new movies and customers</li>
    <li>Regular employee restricted to register new rentals of movies in stock and accept returns</li>
    <li>New users allowed to register account via Facebook login</li>

</ul>

<hr>


<h5>This was realization of Udemy course project to get a first grasp on ASP.NET MVC 5 Framework</h5>
<h6><a href="https://github.com/Wengorito/Vidly">Author's project repository</a></h6>
<h6><a href="https://github.com/mosh-hamedani/vidly-mvc-5">Original repository</a></h6>
<h6><a href="https://www.udemy.com/course/the-complete-aspnet-mvc-5-course/">Udemy course site</a></h6>
